# Dependency directory
node_modules

# Environment settings
.env

# Build cache
.cache
dist/
tsconfig.tsbuildinfo

# Build directory
packages/*/lib

# Publish API uploaded files
packages/multi-api-server/uploads
packages/api-server/uploads
packages/edit-server/uploads

# Webpack stats
stats.json

# Other
.DS_Store
thumbs.db
*.log
processed.txt
temp-schema.graphql
tmp/

# VS
.vs
